main.main_gameShelves
    div.side_bar
        div.shelf_text_header
            h1#my_board_games My Board Games
            h3.text_medium#my_game_shelves My Game Shelves:
        ul(id="shelfList")
            li(class='shelfLi'): a(href=`/gameshelves`) All Games
            li(class='shelfLi'): a(href=`/gameshelves/${wantToPlayShelf.id}`)= wantToPlayShelf.shelfName
            li(class='shelfLi'): a(href=`/gameshelves/${playedShelf.id}`)= playedShelf.shelfName
            li(class='shelfLi'): a(href=`/gameshelves/${favoritesShelf.id}`)= favoritesShelf.shelfName
            each shelf in otherGameShelves
                li(class='shelfLi2' id=`shelf-${shelf.id}`)
                    a#game_shelf_link(href=`/gameshelves/${shelf.id}`)= shelf.shelfName
                    button(type="submit" id='shelfEditBtn'): i(class="fas fa-edit")
                    button(type="submit" id='shelfDeleteBtn'): i(class="far fa-trash-alt")
        div(id='createAddShelf')
            button(id='addShelfBtn') Add a Game Shelf:
