extend layout

block content
  h1 Board Games

  ul
    each game in boardGames
      div.gameContainer
        li: img(src=`${game.image}` class='boardGameImage')
        li: a(href=`/boardgames/${game.id}`)= game.title
        li= game.company
        if userId
          label(for='gameShelves') Choose Playing Status
          select(name='gameShelves' id='gameShelvesSelect')
            each shelf in mainGameShelves
              option(value=shelf.id selected=shelvesWithGameSet.has(shelf.id))= shelf.shelfName
        li= game.summary
        br
