extend layout

block content
  h1 Board Games

  ul
    each game in boardGames
      div.gameContainer
        li: img(src=`${game.image}` class='boardGameImage')
        li: a(href=`/boardgames/${game.id}`)= game.title
        li= game.company
        if userId
          li: select(name='gameShelves' id='gameShelvesSelect')
            option(value='') --Choose Playing Status--
            option(value=shelfWantToPlay.id)= shelfWantToPlay.shelfName
            option(value=shelfPlayed.id)= shelfPlayed.shelfName
            //- each shelf in gameShelves
            //-   option(value=shelf.shelfId)= shelf.shelfName
        li= game.summary
        br
