extends layout

block content
  main.main_gameShelves
    div.side_bar
      div.shelf_text_header
        h1#my_board_games My Board Games
        h3.text_medium#my_game_shelves My Game Shelves:
      ul(id="shelfList")
        each shelf in gameShelves
          li(class='shelfLi' id=`shelf-${shelf.id}`)
            a#game_shelf_link(href=`/gameshelves/${shelf.id}`)= shelf.shelfName
            button(type="submit" id='shelfEditBtn'): i(class="fas fa-edit")
            button(type="submit" id='shelfDeleteBtn'): i(class="far fa-trash-alt")
      div(id='createAddShelf')
        button(id='addShelfBtn') Add a Game Shelf:

    section(class="cards gameshelf_cards")
      each game in allGamesOfUser
        div(class="card gameshelf_card"): a(href=`/boardgames/${game.id}` id="card_link")
          div.card_img-container
            img(src=`${game.image}` class='card_img-container boardGameImage')
          div.card_content
            p(class="card_title text_medium")= game.title
            p(class="text_small")=game.company
            div.card_info
              p(class="text_small card_info")=game.summary
