extends layout

block content
  h1 My Board Games

  ul(id="shelfList") My Game Shelves:
    li(id='shelfLi'): a(href=`/gameshelves/${wantToPlayShelf.id}`)= wantToPlayShelf.shelfName
    li(id='shelfLi'): a(href=`/gameshelves/${playedShelf.id}`)= playedShelf.shelfName
    li(id='shelfLi'): a(href=`/gameshelves/${favoritesShelf.id}`)= favoritesShelf.shelfName
    each shelf in otherGameShelves
      li(id='shelfLi'): a(href=`/gameshelves/${shelf.id}`)= shelf.shelfName
      button(type="submit" id='shelfEditBtn') edit
      button(type="submit" id='shelfDeleteBtn') X
  br
  h3 Add a Game Shelf
  div(id='createAddShelf')
    button(id='addShelfBtn') Add a Game Shelf:

  div
    ul All My Saved Board Games:
      each boardGame in allGamesOfUser
        li= boardGame.title
        li: img(src=`${boardGame.image}` class='boardGameImage')
