extends layout

block content

  div(class='meta')
    div(class='image'): img(src=`${boardGame.image}` class='boardGameImageIndiv')
    div.indiv_card_content
      h1(class='boardGameTitle' id=boardGame.id)= boardGame.title
      h3(class='company')= boardGame.company
      p(class='summary')= boardGame.summary

      if userId
        div(class='all-shelves')
          div(class='wrap')
            label(for='gameShelves' class='label') Playing Status:
            select(name='gameShelves' id='gameShelvesSelect')
              option(value=0) --Choose Playing Status--
              each shelf in mainGameShelves
                option(value=shelf.id selected=shelvesWithGameSet.has(shelf.id))= shelf.shelfName
          div(class='wrap2')
            ul(id='gameShelves' class='label') Add Board Game to Other Game Shelves
              each shelf in otherGameShelves
                li(class='checkLi')
                  input(type='checkbox' name='gameShelf' class='input'  id=shelf.id checked=shelvesWithGameSet.has(shelf.id))
                  label(for='gameShelf' class='label')= shelf.shelfName
        div(class='reviewLi'): a(href=`/boardgames/${boardGame.id}/reviews/new` class='review') Write a Review
      else
        div(class='loggedOutReview'): a(href='/users/login') Write a review
      br
      div.reviews_div
        h3(class='reviewTitle') Reviews:
        for review in reviews
          if userId==review.userId
            li(id=`boardgames-${boardGame.id}-comment-${review.id}` class='comments')
              p(class='indiComments')= review.comment
              a(href=`/boardgames/${boardGame.id}/reviews/${review.id}/edit` class='editButton' id='shelfEditBtn'): i(class="fas fa-edit")
              button(class='deleteComment' id='shelfDeleteBtn'): i(class="far fa-trash-alt")
              br
          else
            li(class='comments')= review.comment
