extend layout

block content
  h1= boardGame.title

  h3= boardGame.company
  ul
    li: img(src=`${boardGame.image}` class='boardGameImage')
    if userId
      li: select(name='gameShelves' id='gameShelvesSelect')
        each shelf in gameShelves
          option(value=shelf.shelfId)= shelf.shelfName
    li= boardGame.summary
    if userId
      li: a(href=`/boardgames/${boardGame.id}/reviews/new`) Write a Review
    else
      li: a(href='/') Log in to leave a review.
    for review in reviews
      if userId==review.userId
        li(id=`comment-${review.id}` class='comments')
          p= review.comment
          a(href=`/boardgames/${boardGame.id}/reviews/${review.id}/edit`) Edit
          button(class='deleteComment') Delete
      else
        li= review.comment
