extend layout 

block content   
  h1= boardGame.title 
  
  h3= boardGame.company
  p= boardGame.summary
  a(href=`/boardgames/${boardGame.id}/reviews/new`) Write a Review
  for review in reviews 
    li= review.comment
