extends layout

block content
    a(href=linkToGame)= boardGame.title
    img.boardGameImage(src=boardGame.image)
    //- NTS: insert category if doing categories
    form(action=`/boardgames/${boardGame.id}/reviews/${review.id}/edit` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="comment") What did you think?
        textarea(name="comment")=review.comment
        button(type="submit") Update


